# Blockchain binaries
/junod*
/osmosisd*
/starsd
/wasmd
*.tar.gz

# Transaction files
/tx_*.log
/tx_*.json
/unsigned_*.json

# Build artifacts
/target/
/.next/
/node_modules/

# Environment
.env
*.log
